<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>[% template.title or "OIS" %]</title>
<link rel="stylesheet" href="[% c.uri_for('/static/css/main.css') %]" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script type="text/javascript" src="[% c.uri_for('/static/js/main.js') %]"></script>

</head>
<body>
<div id="container">

  <div id="header">
    <div id="logo">
        <img src="[% c.uri_for('/static/images/gbTechnology_logo.gif') %]">
    </div>
    <div id="page">Estimate</div>
  </div><!-- header -->
  
  [% IF !is_print %] 
  <div id="nav">
    <ul>
        <li class="active">
            <a href="[% c.uri_for(
                c.controller('Admin').action_for('index')
            ) %]">Admin</a>
        </li>
        <li class="active">
            <a href="[% c.uri_for(
                c.controller('Names').action_for('index')
            ) %]">Names</a>
        </li>
        <li>
            <a href="[% c.uri_for(
                c.controller('Products').action_for('index')
            ) %]">Products</a>
        </li>
        <li class="active">
            <a href="[% c.uri_for(
                c.controller('Estimates').action_for('index')
            ) %]">Estimates</a>
        </li>

    </ul>
  </div><!-- nav -->
  [% END %]

  <div id="content">
  [% content %] 
  </div><!-- content -->

  <div id="footer">
    <p>&copy; Copyright 2010. SOFLA Security Cameras a gbTechnology Company. All Rights Reserved </p>
  </div><!-- footer -->

</div> <!-- container -->
</body>
</html>
